{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Parolni o'zgartirish
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Parolni tiklash so'rovi Emailingizga yuborildi</h2>
                <p>Parolingizni tiklash uchun Emailingizga borgan linkga kirishingiz kerak bo'ladi!</p>
                <p>Agar qabul qilmagan bo'lsangiz,qaytadan urinb ko'ring</p>

            </div>
        </div>
    </div>
{% endblock content %}
